accelerate==0.32.1
av==12.2.0
bitsandbytes==0.42.0
decord==0.6.0
deepspeed==0.14.4
diffusers==0.29.0
einops==0.8.0
image==1.5.33
matplotlib==3.9.1
numpy==1.26.4
omegaconf
onnxruntime-gpu==1.16.3
opencv-python==4.10.0.84
opencv-python-headless==4.11.0.86
tqdm==4.66.4
torch=2.0.1
torchvision==0.15.2
torch==2.0.1
transformers==4.32.1
xformers==0.0.20